<div ng-controller="PatientQueueCtrl" class="patient-queue-container" >
    <!-- <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" ng-model="row.Name">
      </div>
      <div class="form-group">
        <label for="patientDoctor">Doctor</label>
        <input type="text" class="form-control" id="patientDoctor" placeholder="Dr. BSoe" ng-model="row.Doctor">
      </div>
      <div class="form-group">
        <button type="button" ng-click="addEmployee(row)" class="btn btn-block btn-success" id="add-doctor">
        <i class="glyphicon glyphicon-plus">
        </i> Add
    </button>
      </div>
    </form> -->
    <h5>Click on a patient for check-out.</h5>
    <div id="patient-queue">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th colspan="5"><input st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
                </tr>
                <tr>
                    <th st-sort="Name">Name <i st-sort="Name" class="fa fa-sort"></i></th>
                    <th st-sort="Doctor">Doctor <i st-sort="Doctor" class="fa fa-sort"></i></th>
                    <th st-sort="Time">Check-in Time <i st-sort="Time" class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
            <h4 ng-show="!checkIfEmptyTable()"> There are currently {{displayedCollection.length}} patients in database and fitting search criteria</h4>
            <h4 style="color:red" ng-show="checkIfEmptyTable()" class="empty-block">
                    No patients fitting search criteria found!
            </h4>
            <tr ng-repeat="row in displayedCollection" ng-click="removeItem(row)">
                  <!-- <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button> -->
                </td>
                <td class="patient-queue-text"> {{row.Name}}</td>
                <td class="patient-queue-text"> {{row.Doctor}}</td>
                <td class="patient-queue-text"><span ng-show="checkIfLongWait(row.TimeValue)" tooltip="Patient Needs Attending To!" class="text-danger"><i ng-show="checkIfLongWait(row.TimeValue)" class="fa fa-warning"></i></span> {{(row.Time)}}</td>
            </tr>
            </tbody>
        </table>
        
    </div>
    <!--
    <div class='pull-left'>
            <button type="button" ng-click="" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle"></i>
            </button> Remove selected
    </div>
    -->
</div>